{% extends "index.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}
<div>
    <section class="bg-background-primary">
        <div class="container flex flex-row justify-between items-center h-96 ">
            <div class="">
                <h1 class="text-4xl font-bold text-primary">
                    AI-Powered HR Analytics <br>on Telegram
                </h1>
                <h4 class="my-[12px] text-primary">
                    Automate CV Screening & Enhance Communication
                </h4>
                <button class="btn-primary">
                    Get Started Free
                </button>

            </div>
            <div>
                <img id="plane" class="" src="../static/images/photo (2).png" alt="flying paper plane"/>
            </div>
        </div>
    </section>
    <main class="bg-white py-8">

        <div class="container px-3 py-3">
            <div class="grid grid-cols-4 gap-4 ">
                <div class="col-span-3 col-start-1">
                    <h4 class=" font-bold text-primary">
                        Features
                    </h4>
                    <span class="text-xs text-primary line-h">Our platform is equipped with a suite of powerful tools designed to streamline and enhance every step of your recruitment process. By leveraging cutting-edge technology, we help you save time, reduce bias, and connect with the best talent more effectively than ever before.</span>
                </div>
                <div class="col-span-1 col-start-1 card">
                    <img class="w-8 h-8" src="../static/images/2.png" alt="Intelligent CV Review"/>
                    <h5 class="font-bold text-primary">Intelligent CV Review</h5>
                    <span class="text-[8px] text-tertiary">Streamline your hiring process. Our AI quickly analyzes resumes to identify top talent, match skills, and filter candidates efficiently, saving valuable time and resources.</span>

                </div>
                <div class=" col-span-1 col-start-2 card">
                    <img class="w-8 h-8" src="../static/images/3.png" alt="Intelligent CV Review"/>
                    <h5 class="font-bold text-primary">Seamless User Chatbot</h5>
                    <span class="text-[8px] text-tertiary">Engage applicants instantly. Our Telegram-based chatbot provides immediate answers to common questions, schedules interviews, and offers personalized support 24/7, improving candidate experience.</span>
                </div>
                <div class="col-span-1 col-start-3 card">
                    <img class="w-8 h-8" src="../static/images/4.png" alt="Intelligent CV Review"/>
                    <h5 class="font-bold text-primary">Actionable HR Insights</h5>
                    <span class="text-[8px] text-tertiary">Make data-driven decisions. Gain comprehensive analytics on your recruitment funnel, candidate demographics, and chatbot performance to optimize strategies and identify areas for improvement.</span>
                </div>
                <div class="col-span-1 col-start-4 card">
                    <img class="w-8 h-8" src="../static/images/4.png" alt="Intelligent CV Review"/>
                    <h5 class="font-bold text-primary">Automated Task Management</h5>
                    <span class="text-[8px] text-tertiary">Reduce manual workload. Automate routine HR tasks like sending reminders, follow-ups, and updating candidate statuses directly within Telegram, freeing up your team for strategic work.</span>
                </div>
            </div>
        </div>

        <div class="container px-3 py-5">
            <div class="grid grid-cols-4 gap-4 ">
                <div class="col-span-3 col-start-1">
                    <h4 class="font-bold text-primary">
                        Our mission
                    </h4>
                    <span class="text-xs text-primary line-h">Our platform is equipped with a suite of powerful tools designed to streamline and enhance every step of your recruitment process. By leveraging cutting-edge technology, we help you save time, reduce bias, and connect with the best talent more effectively than ever before.</span>
                </div>
                <div class="col-span-1 col-start-1 card">
                    <img class="w-4 h-4" src="../static/images/64x64.png" alt="Intelligent CV Review"/>
                    <h5 class="font-bold text-primary">Intelligent CV Review</h5>
                    <span class="text-[8px] text-tertiary">Quickly identify top talent with AI-driven analysis of resumes and applications.</span>

                </div>
                <div class=" col-span-1 col-start-2 card">
                    <img class="w-4 h-4" src="../static/images/64x64.png" alt="Intelligent CV Review"/>
                    <h5 class="font-bold text-primary">Seamless User Chatbot</h5>
                    <span class="text-[8px] text-tertiary">Engage candidates instantly with automated Q&A and personalized interactions.</span>
                </div>
                <div class="col-span-1 col-start-3 card">
                    <img class="w-4 h-4" src="../static/images/64x64.png" alt="Intelligent CV Review"/>
                    <h5 class="font-bold text-primary">Actionable Insights</h5>
                    <span class="text-[8px] text-tertiary">Gain valuable data on candidate pool and recruitment efficiency to make informed decisions.</span>
                </div>
                <div class="col-span-1 col-start-4 card">
                    <img class="w-4 h-4" src="../static/images/64x64.png" alt="Intelligent CV Review"/>
                    <h5 class="font-bold text-primary">Actionable Insights</h5>
                    <span class="text-[8px] text-tertiary">Gain valuable data on candidate pool and recruitment efficiency to make informed decisions.</span>
                </div>
            </div>
        </div>
    </main>

    <div class="bg-background-primary h-3.5 w-full">

    </div>

    {% include 'layout/reviews.html' %}

</div>
<script>
    (function () {
        // handle card animation
        const cards = document.querySelectorAll('.card');


        Array.from(cards).forEach(card => {
            let isHovered = false;

            const rect = card.getBoundingClientRect();

            card.addEventListener('mousemove', (e) => {
                if (!isHovered) {
                    return
                }
                const mouseX = e.clientX - rect.left;
                const mouseY = e.clientY - rect.top;

                const x = (mouseX / rect.width - 0.5) * 2;
                const y = (mouseY / rect.height - 0.5) * 2;

                const shadowX = -x * 20;
                const shadowY = -y * 20;

                card.style.boxShadow = `${shadowX}px ${shadowY}px 20px rgba(0, 0, 0, 0.6)`;

            })

            card.addEventListener('mouseenter', () => {
                isHovered = true;
            });

            card.addEventListener('mouseleave', () => {
                isHovered = false;
                card.style.boxShadow = 'none';
            });
        })
    })();
</script>
{% endblock %}