<nav class="w-full shadow-xl relative">
    <div class="container max-h-fit flex justify-between py-3 items-center">
        <div class="flex items-center">
            <img class="w-9 h-9" src="../../static/images/64x64.png" alt="logo">
            <div class="flex flex-col">
                <span class="text-2xl text-primary">TELE-Analyst</span>
                <span class="text-xs text-primary">AI-Powered HR Insights</span>
            </div>
        </div>
        <div>
            <ul class="items-center flex gap-6">
                <li>
                    <button class="btn-secondary text-primary">Features</button>
                </li>
                <li>
                    <button class="btn-secondary text-primary">How it works</button>
                </li>
                {% if session["user_id"] %}
                <li>
                    <a href="/config">
                        <button class="btn-secondary text-primary">
                            Configuration
                        </button>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/logout">
                        <button class="btn-primary">Logout</button>
                    </a>
                </li>
                {% else %}
                <li>
                    <button class="btn-primary" onclick="openModal('modal-auth')">Sign in</button>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% include 'layout/auth-modal.html' %}
{% include 'layout/register-modal.html' %}
