<section class="w-full bg-primary">
    <div class="container max-h-fit flex flex-col items-center py-10">
        <h4 class="text-white font-bold">
            What Our Clients Say
        </h4>
        <span class="text-white py-2 text-xs">
            Join the growing number of companies leveraging AI for smarter recruitment and better candidate experiences.
        </span>

        <section class="flex gap-3 py-6">
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
        </section>


        <h4 class="text-white font-bold">
            Ready to Transform Your HR?
        </h4>
        <span class="text-white py-2 text-xs">
            Join the growing number of companies leveraging AI for smarter recruitment and better candidate experiences.
        </span>
        <button class="btn-primary my-4">Start Your Free Trial Today</button>
    </div>
</section>